.allcantsell {
    font-family: "Lexend", sans-serif;
    background: 
        url('/public/img/group14.png'), /* Gambar */
        linear-gradient(to bottom, #7ABCDE, #0072B8); /* Gradien */
    background-size: 100% auto, cover; /* Gambar memenuhi lebar, tinggi disesuaikan, gradien tetap cover */
    background-position: bottom; /* Posisi gambar di tengah */
    background-repeat: no-repeat;
    width: 100vw; /* Penuhi lebar perangkat */
    height: 100vh; /* Tinggi menyesuaikan rasio */
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.tulisandiatas {
    font-weight: 600;
    text-align: center;
}

.tombollogin a {
    background-color: #FCDC00;
    width: 70%; /* Mengatur lebar button agar responsif */
    max-width: 200px; /* Memberikan batas maksimal lebar button */
    border-radius: 18px;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

