.allfind {
    background-color: #FBFBFD;
    padding: 20px;
    width: 100vw;
    height: calc(100vh - 0px); /* Corrected to use calc for height calculation */
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Ensures vertical stacking of children */
    gap: 10px; /* Adds 20px spacing between all child elements */
}

.allfind2 {
    background-color: #FBFBFD;
}

.back {
    background-color: #FCDC00;
    color: black;
    width: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Lexend", sans-serif;
    padding: 5px;
    border-radius: 18px;
    font-weight: 300;
    font-size: 10px;
}

.productandservice {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes space evenly to push items to the sides */
    align-items: center; /* Vertically aligns items to the center */
}

.findproduct {
    border-radius: 10px;
    width: 47vw;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Lexend", sans-serif;
    font-size: 10px;
}

.findservice {
    border-radius: 10px;
    width: 47vw;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Lexend", sans-serif;
    font-size: 10px;
}

