.pagenotfound {
    /* Define the gradient background and image */
    background: 
        url('/public/img/group14.png'), /* Gambar */
        linear-gradient(to bottom, #7ABCDE, #0072B8); /* Gradien */
    background-size: 100% auto, cover; /* Gambar memenuhi lebar, tinggi disesuaikan, gradien tetap cover */
    background-position: bottom; /* Posisi gambar di tengah */
    background-repeat: no-repeat;
    width: 100vw; /* Penuhi lebar perangkat */
    height: auto; /* Tinggi menyesuaikan rasio */
    display: flex;
}

.pagenotfound{
    border: solid red;
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
}

.ops{
    text-align: left;
    font-size: 20px;
}

.t404{
    text-align: left;
    font-size: 200px;
}

.t404 img{
    width: 40vw;
    height: auto;
}

@media (max-width: 900px) {
    .t404 img{
        width: 95vw;
        height: auto;
    }

    .tulisan{
        font-family: "Lexend", sans-serif;
        text-align: left;
        font-size: 10vw;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .pagenotfound {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 100vh;
        gap: 0px;
    }

    .t404 img{
        width: 30vw;
        height: auto;
    }

    
}

.tulisan{
    font-family: "Lexend", sans-serif;
    text-align: left;
    font-size: 3vw;
}