.content {
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
}

.productandsaved {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes space evenly to push items to the sides */
    align-items: center;
}

.findproductpage, .findsavedproduct {
    border-radius: 10px !important;
    width: 47vw !important;
    padding-left: 20px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-family: "Lexend", sans-serif !important;
    font-size: 10px !important;
}

.dropdown-content {
    position: absolute;
    top: 100%; /* Menjaga dropdown di bawah tombol */
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
    font-family: "Lexend", sans-serif !important;
    font-size: 10px;
    width: 47vw !important;
}

