.allrateproduct {
    background: white;
    background-size: 100% auto, cover; /* Gambar memenuhi lebar, tinggi disesuaikan, gradien tetap cover */
    background-position: bottom; /* Posisi gambar di tengah */
    background-repeat: no-repeat;
    width: 100vw; /* Penuhi lebar perangkat */
    height: 100vh; /* Tinggi menyesuaikan rasio */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lexend", sans-serif;
    gap: 20px;
    padding: 20px;
}

.bintang {
    display: flex;
    gap: 5px;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
}

.star.active {
    color: gold;
}

.namaproduk {
    text-align: center;
}

.tombolsend {
    background-color: #FCDC00;
    width: 70%; /* Mengatur lebar button agar responsif */
    max-width: 200px; /* Memberikan batas maksimal lebar button */
    border-radius: 18px;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.backlogin {
    background-color: #FCDC00;
    color: black;
    width: 10vw;
    min-width: 100px;
    height: auto; /* Mengatur tinggi agar menyesuaikan konten */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Lexend", sans-serif;
    padding: 5px;
    border-radius: 18px;
    font-weight: 300;
    font-size: 10px;
    position: fixed; /* Gunakan fixed agar tetap di pojok atas kiri halaman */
    top: 20px; /* Jarak 20px dari bagian atas */
    left: 20px; /* Jarak 20px dari bagian kiri */
    z-index: 1000; /* Jika ada elemen lain yang menutupi, pastikan ini berada di depan */
    border: none; /* Menghilangkan border */
    outline: none; /* Menghilangkan outline */
}

